In [141]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

from faker import Faker
fake = Faker()

fake.name()

'Chelsea Bautista MD'

In [139]:
dt(2019,1,1)

datetime.datetime(2019, 1, 1, 0, 0)

In [86]:
responses = pd.read_csv('./response_seed2.csv')
responses['student_id'] +=1

In [142]:
np.random.uniform(50,70)

65.68913842406576

In [149]:
class Student:
    def __init__(self):
        sleeper, eater, attender, tardyer = np.random.choice(['l','m','h'], p = [.25, .5, .25], size = 4)
        base_score = np.random.uniform(55,70)
        
    def sleep(self):
        if self.sleeper == 'l':
            return np.random.choice([3,4,5,6,7], p = [.1, .4, .2, .2, .1])
        elif self.sleeper == 'm':
            return np.random.choice([3,4,5,6,7], p = [.05, .35, .3, .25, .05])
        else:
            return np.random.choice([3,4,5,6,7], p = [.02, .28, .3, .25, .15])
        
    def eat(self):
        if self.eater == 'l':
            return np.random.choice([1,2], p = [.4, .6])
        elif self.eater == 'm':
            return np.random.choice([1,2], p = [.7, .3])
        else:
            return np.random.choice([1,2], p = [.85, .15])
    
    def attend(self):
        if self.attender == 'l':
            return np.random.choice([True, False], p = [.9, .1])
        elif self.attender == 'm':
            return np.random.choice([True, False], p = [.95, .05])
        else:
            return np.random.choice([True, False], p = [.99, .01])
    
    def tardy(self):
        if self.tardyer == 'l':
            return np.random.choice([False, True], p = [.85, .15])
        elif self.tardyer == 'm':
            return np.random.choice([False, True], p = [.90, .1])
        else:
            return np.random.choice([False, True], p = [.99, .01])

In [143]:
50//20

2

In [147]:
responses.head(1)

,choice_id,choice_type,correct,course_id,created_at,question_id,student_id,updated_at
0,1.0,id,nil,0,2019-01-02 12:00:00,1,1,2019-01-02 12:00:00

In [144]:
number_of_students = 6000
number_of_tests = 5
start_day = datetime(2019,1,1,2)
day = timedelta(days = 1)
attendances = []
surveys = []

for s in range(1, number_of_students + 1):
    s_id = s+1
    c_id = (s //20) + 1
    stu_defaults = {
        'course_id': c_id,
        'student_id': s_id
    }
    stu = Student()
    for_test = {'sleep':[], 'eat':[]}
    for d in range(number_of_tests*10):
        if stu.attend():
            date = start_day + (d * day)
            date = date.strftime("%Y-%m-%d %H:%M:%S")
            stamps = {'created_at': date, 'updated_at': date}
            
            attendance = 'tardy' if stu.tardy() else 'present'
            attendances.append({
                **stu_defaults,
                **stamps,
                'attendance': attendance
            })
            ate = stu.eat()
            slept = stu.sleep()
            food = {**stu_defaults, 'question_id': 1, 'choice_id': ate, **stamps}
            sleep = {**stu_defaults, 'question_id': 2, 'choice_id': slept, **stamps}
            to_add = [food,sleep]
            surveys.extend(to_add)
            for_test['sleep'].append(slept)
            for_test['eat'].append(ate)
            
        if d % 9 == 0:
            score = (abs(sum(for_test['eat'])-20) * 5) + 
            test = {**stu_defaults, 'question_id': 3}
                for_test = {'sleep':[], 'eat':[]}

NameError: name 'Student' is not defined

In [146]:
start_day + day

datetime.datetime(2019, 1, 2, 0, 0)

In [87]:
responses.head()

,choice_id,choice_type,correct,course_id,created_at,question_id,student_id,updated_at
0,1.0,id,nil,0,2019-01-02 12:00:00,1,1,2019-01-02 12:00:00
1,5.0,id,nil,0,2019-01-02 12:00:00,2,1,2019-01-02 12:00:00
2,2.0,id,nil,0,2019-01-03 12:00:00,1,1,2019-01-03 12:00:00
3,5.0,id,nil,0,2019-01-03 12:00:00,2,1,2019-01-03 12:00:00
4,1.0,id,nil,0,2019-01-04 12:00:00,1,1,2019-01-04 12:00:00

In [107]:
responses.shape

(315000, 8)

In [134]:
responses.loc[responses['student_id'] == 1,:].question_id.value_counts()

2    30
1    30
3     3
Name: question_id, dtype: int64

In [132]:
def find_student_courses(df):
    to_ret = []
    for s in df.student_id.unique():
        info = {'student_id': s, 'course_id': df[df['student_id'] == s].course_id.iloc[0]}
        to_ret.append(info)
    return to_ret

In [133]:
sc = find_student_courses(responses)

In [48]:
def gen_name():
    return {'first_name': fake.first_name(),
            'last_name': fake.last_name()}

In [49]:
def gen_teachers(n):
    to_ret = []
    for i in range(1,n+1):
        info = {
            **gen_name(),
            'email': f'teacher{i}@school.com',
            'password': 'password'
        }
        to_ret.append(info)
    return to_ret

In [56]:
def gen_students(n):
    to_ret = []
    for i in range(1, n+1):
        info = {
            **gen_name(),
            'student_id': 100000 + i,
            'google_id': fake.sha1()[:21]
        }
        to_ret.append(info)
    return to_ret

In [83]:
levels = ["Beginner", "Intermediate", "Advanced", "Honors", "Remedial"]
subjects = ["English", "Algebra", "Chemistry", "Biology", "Sociology","Philosophy", "Literature", "Spanish","French",
            "Chinese", "German", "Swahili", "Physics", "Geometry", "Calculus","Japanese", "Italian", "Neuroscience",
            "Linear Algebra", "Differential Equations", "History", "Art History", "Anatomy", "Economics", "Derivatives"]
sequence = ["1","2"]

course_names = []
for l in levels:
    for s in subjects:
        for n in sequence:
            course_names.append(" ".join([l,s,n]))
            
def gen_courses(n):
    to_ret = []
    period_times = {}
    for i in range(1,6):
        start = 7+i
        end = start +1
        period_times[i] = {
            'start_time': f'{start}:00:00',
            'end_time': f'{end}:00:00'
        }
    for i in range(n):
        info = {
            'name': course_names[i],
            'period': (i%5) +1,
            **period_times[i+1],
        }
        to_ret.append(info)
    return to_ret

In [84]:
gen_courses(2)

[{'name': 'Beginner English 1',
  'period': 1,
  'start_time': '8:00:00',
  'end_time': '9:00:00'},
 {'name': 'Beginner English 2',
  'period': 2,
  'start_time': '9:00:00',
  'end_time': '10:00:00'}]

In [79]:
5%5 +1

1

In [19]:
responses.head()

,choice_id,choice_type,correct,course_id,created_at,question_id,student_id,updated_at
0,1.0,id,nil,0,2019-01-02 12:00:00,1,1,2019-01-02 12:00:00
1,5.0,id,nil,0,2019-01-02 12:00:00,2,1,2019-01-02 12:00:00
2,2.0,id,nil,0,2019-01-03 12:00:00,1,1,2019-01-03 12:00:00
3,5.0,id,nil,0,2019-01-03 12:00:00,2,1,2019-01-03 12:00:00
4,1.0,id,nil,0,2019-01-04 12:00:00,1,1,2019-01-04 12:00:00

In [58]:
responses.course_id.value_counts().shape

(250,)

In [12]:
responses.shape

(3150, 8)

In [59]:
n = ["Nonlife Insurance", "Electricity", "Real Estate Investment Trusts", "Nonequity Investment Instruments", "Industrial Engineering", "Oil & Gas Producers", "Aerospace & Defense", "Aerospace & Defense", "Mobile Telecommunications", "Media", "Travel & Leisure", "Industrial Metals & Mining", "General Industrials", "General Retailers", "Industrial Transportation", "Media", "Household Goods & Home Construction", "Gas, Water & Multiutilities", "Tobacco", "Banks", "Gas, Water & Multiutilities", "Pharmaceuticals & Biotechnology", "Industrial Transportation", "Oil Equipment, Services & Distribution", "Financial Services", "Personal Goods", "General Retailers", "Tobacco", "Personal Goods", "Industrial Metals & Mining", "Alternative Energy", "Equity Investment Instruments", "Industrial Engineering", "Pharmaceuticals & Biotechnology", "Gas, Water & Multiutilities", "Beverages", "Mobile Telecommunications", "Forestry & Paper", "Real Estate Investment & Services", "Technology Hardware & Equipment", "Real Estate Investment Trusts", "Technology Hardware & Equipment", "Industrial Transportation", "Household Goods & Home Construction", "Support Services", "Banks", "Personal Goods", "Life Insurance", "Real Estate Investment & Services", "Construction & Materials", "Media", "Personal Goods", "Health Care Equipment & Services", "Real Estate Investment & Services", "Food & Drug Retailers", "Chemicals", "Nonlife Insurance", "Health Care Equipment & Services", "Forestry & Paper", "Mobile Telecommunications", "Fixed Line Telecommunications", "General Retailers", "Industrial Transportation", "Electricity", "Electronic & Electrical Equipment", "Nonlife Insurance", "Industrial Metals & Mining", "Equity Investment Instruments", "General Retailers", "Oil Equipment, Services & Distribution", "Personal Goods", "Tobacco", "Aerospace & Defense", "Gas, Water & Multiutilities", "General Industrials", "Industrial Transportation", "Food Producers", "Personal Goods", "Life Insurance", "Nonequity Investment Instruments", "Media", "Health Care Equipment & Services", "Fixed Line Telecommunications", "Life Insurance", "Support Services", "Support Services", "Technology Hardware & Equipment", "Support Services", "Technology Hardware & Equipment", "Oil Equipment, Services & Distribution", "Media", "Chemicals", "Life Insurance", "Food & Drug Retailers", "General Industrials", "Financial Services", "Travel & Leisure", "Software & Computer Services", "Gas, Water & Multiutilities", "Chemicals", "General Retailers", "Real Estate Investment Trusts", "Aerospace & Defense", "General Retailers", "Life Insurance", "Nonequity Investment Instruments", "Food & Drug Retailers", "Pharmaceuticals & Biotechnology", "Gas, Water & Multiutilities", "Automobiles & Parts", "Fixed Line Telecommunications", "Health Care Equipment & Services", "Personal Goods", "Health Care Equipment & Services", "Aerospace & Defense", "Fixed Line Telecommunications", "Construction & Materials", "Automobiles & Parts", "Media", "Electricity", "Beverages", "Beverages", "Nonlife Insurance", "Financial Services", "Mobile Telecommunications", "Equity Investment Instruments", "Aerospace & Defense", "Media", "Industrial Metals & Mining", "Real Estate Investment Trusts", "Software & Computer Services", "Alternative Energy", "Real Estate Investment & Services", "Nonequity Investment Instruments", "Nonequity Investment Instruments", "Health Care Equipment & Services", "Industrial Engineering", "Food & Drug Retailers", "Food & Drug Retailers", "Media", "Media", "Oil & Gas Producers", "Nonlife Insurance", "Financial Services", "Automobiles & Parts", "Industrial Engineering", "Banks", "Electronic & Electrical Equipment", "Software & Computer Services", "Beverages", "Mining", "Financial Services", "Personal Goods", "Software & Computer Services", "Fixed Line Telecommunications", "Mining", "Mining", "Fixed Line Telecommunications", "Chemicals", "Health Care Equipment & Services", "Gas, Water & Multiutilities", "Electronic & Electrical Equipment", "Construction & Materials", "Real Estate Investment & Services", "Travel & Leisure", "Banks", "Nonequity Investment Instruments", "Software & Computer Services", "Industrial Transportation", "Aerospace & Defense", "General Industrials", "Construction & Materials", "Mining", "Software & Computer Services", "Electronic & Electrical Equipment", "Oil & Gas Producers", "Nonequity Investment Instruments", "Industrial Metals & Mining", "Fixed Line Telecommunications", "Industrial Engineering", "Software & Computer Services", "Real Estate Investment & Services", "Pharmaceuticals & Biotechnology", "Electricity", "Banks", "Support Services", "Oil Equipment, Services & Distribution", "Tobacco", "Food Producers", "Support Services", "Personal Goods", "Electronic & Electrical Equipment", "Real Estate Investment Trusts", "Household Goods & Home Construction", "Food Producers", "Life Insurance", "Oil & Gas Producers", "Real Estate Investment & Services", "Industrial Transportation", "Tobacco", "Gas, Water & Multiutilities", "Leisure Goods", "Oil & Gas Producers", "Mobile Telecommunications", "Automobiles & Parts", "Aerospace & Defense", "Media", "Nonequity Investment Instruments", "Leisure Goods", "General Industrials", "Equity Investment Instruments", "Industrial Engineering", "Technology Hardware & Equipment", "Support Services", "Forestry & Paper", "Automobiles & Parts", "Technology Hardware & Equipment", "Real Estate Investment Trusts", "Support Services", "Industrial Transportation", "Life Insurance", "Real Estate Investment & Services", "Mobile Telecommunications", "Support Services", "Travel & Leisure", "Industrial Metals & Mining", "Aerospace & Defense", "Technology Hardware & Equipment", "Fixed Line Telecommunications", "Life Insurance", "Electricity", "Oil & Gas Producers", "Banks", "Forestry & Paper", "Equity Investment Instruments", "Household Goods & Home Construction", "Mobile Telecommunications", "Electronic & Electrical Equipment", "Leisure Goods", "Travel & Leisure", "Equity Investment Instruments", "Software & Computer Services", "Nonequity Investment Instruments", "Pharmaceuticals & Biotechnology", "Personal Goods", "Real Estate Investment & Services", "Household Goods & Home Construction", "Nonlife Insurance", "Media", "Oil & Gas Producers"]

In [60]:
n.unique()

AttributeError: 'list' object has no attribute 'unique'

In [61]:
print(len(n))
print(len(set(n)))

250
41

In [69]:
len(subjects)

25

In [71]:
5* 25 *2

250